$gray-300: #e2e8f0;

/* _tables.scss:48 */
$table-border-width: 1;
$table-border-color: #808080;


.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: #f0f0f0;
  }
}

/* _print.scss:116 */
.table-bordered {
  th,
  td {
    border: 1px solid $gray-300 !important;
  }
}

/* _tables.scss:48 */
.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}
